Masukan Data Testing
Temperature = Nilai Temperature
Humidity = Nilai Kelembaban Udara
Moisture = Nilai Kelembaban Tanah
Soil = 0.Hitam, 1.Berlumpur, 2.Lempung, 3.Merah, 4.Berpasir
Crop = 0.Barley, 1.Kapas, 2.Kacang Tanah, 3.Jagung, 4.Millet, 5.Biji minyak, 6.Padi, 7.Kacang-kacangan, 8.Tebu, 9.Tembakau, 10.Gandum
Nitrogen = Nilai nitrogen yang dibutuhkan tanaman

In [1]:
Temperature = 12
Humidity = 60
Moisture = 53
Soil = 1
Crop = 6
Nitrogen = 4

dt = [Temperature, Humidity, Moisture, Soil, Crop, Nitrogen]

In [3]:
import pandas as pd
import numpy as np
from mixed_naive_bayes import MixedNB

In [4]:
sample = np.array(dt)
sample = sample.reshape(1, -1)

In [5]:
dataframe = pd.read_csv('Fertilizer Prediction.csv')

In [6]:
dataframe.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [7]:
drop = dataframe[dataframe.columns[6:8]]
df = dataframe.drop(drop, axis=1)

In [8]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Fertilizer Name
0,26,52,38,Sandy,Maize,37,Urea
1,29,52,45,Loamy,Sugarcane,12,DAP
2,34,65,62,Black,Cotton,7,14-35-14
3,32,62,34,Red,Tobacco,22,28-28
4,28,54,46,Clayey,Paddy,35,Urea

In [9]:
list(np.unique(df['Soil Type']))

['Black', 'Clayey', 'Loamy', 'Red', 'Sandy']

In [10]:
list(np.unique(df['Crop Type']))

['Barley',
 'Cotton',
 'Ground Nuts',
 'Maize',
 'Millets',
 'Oil seeds',
 'Paddy',
 'Pulses',
 'Sugarcane',
 'Tobacco',
 'Wheat']

In [11]:
df['Soil Type'].replace(['Black', 'Clayey', 'Loamy', 'Red', 'Sandy'], [0,1,2,3,4], inplace=True)

In [12]:
df['Crop Type'].replace(['Barley',
 'Cotton',
 'Ground Nuts',
 'Maize',
 'Millets',
 'Oil seeds',
 'Paddy',
 'Pulses',
 'Sugarcane',
 'Tobacco',
 'Wheat'], [0,1,2,3,4,5,6,7,8,9,10], inplace=True)

In [13]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Fertilizer Name
0,26,52,38,4,3,37,Urea
1,29,52,45,2,8,12,DAP
2,34,65,62,0,1,7,14-35-14
3,32,62,34,3,9,22,28-28
4,28,54,46,1,6,35,Urea

In [15]:
X = df[df.columns[:6]]

In [16]:
y = df[df.columns[6]]

In [17]:
list(np.unique(y))

['10-26-26', '14-35-14', '17-17-17', '20-20', '28-28', 'DAP', 'Urea']

In [18]:
y.replace(['10-26-26', '14-35-14', '17-17-17', '20-20', '28-28', 'DAP', 'Urea'], [0,1,2,3,4,5,6], inplace=True)

In [19]:
y.head()

0    6
1    5
2    1
3    4
4    6
Name: Fertilizer Name, dtype: int64

In [20]:
model = MixedNB(categorical_features=[3,4])

In [21]:
model.fit(X, y)

[ 5 11]

MixedNB(alpha=0.5, var_smoothing=1e-09)

In [22]:
model.predict(sample)

array([0], dtype=int64)

In [23]:
classes = np.unique(['10-26-26', '14-35-14', '17-17-17', '20-20', '28-28', 'DAP', 'Urea'])
classes

array(['10-26-26', '14-35-14', '17-17-17', '20-20', '28-28', 'DAP',
       'Urea'], dtype='<U8')

In [24]:
pred = classes[model.predict(sample)]
pred

array(['10-26-26'], dtype='<U8')